.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.title{
    font-size: 60px;
    font-weight: 500;
    position: relative;
    color: #2c3e50;
    margin: 0 auto;
    padding-bottom: 35px;
}

.description{
    font-size: 30px;
    font-weight: 300;
    position: relative;
    color: #2c3e50;
    margin: 0 auto;
    padding-bottom: 35px;
}

.mainContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 650px;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: end;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.centerColumn{
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

.rightColumn{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align:start;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.featuresContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor:pointer
}

.featuresNumber{
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 35px;
    background-color: #d6ecd2;
    border-radius: 15px;
    color:#fdfffa
}

.leftColumn .featuresNumber {
    margin: 0 0 0 auto;
}

.rightColumn .featuresNumber{
    margin: 0 auto 0 0;
}

.featuresTitle{
    font-size: 25px;
    font-weight: 600;
    color: #2c3e50;
    padding: 0;
    margin-bottom: 10px;
}

.featuresDescription{
    font-size: 18px;
    font-weight: 300;
    position: relative;
    color: #2c3e50;
    margin: 0 auto;
    padding-bottom: 34px;
}

.svgContainer{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animatedSvg{
    z-index: 1;
    position: absolute;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: showSvg 1s 
}


.active{
    background-color:#5aac44;
}

.show{
    opacity: 1;
}

.hide{
    opacity:0;
}



@keyframes showSvg{
    0%{
        transform:scale(0)
    }
    100%{
        transform:scale(1)
    }
}


@keyframes show {
    0%{
        opacity:0
    }
    25%{
        opacity:0
    }
    50%{
        opacity:0
    }
    85%{
        opacity:1
    }
    100%{
        opacity:1
    }
}

@keyframes showDescription {
    0%{
        opacity:0
    }
    25%{
        opacity:0
    }
    40%{
        opacity:0
    }
    65%{
        opacity:0
    }
    100%{
        opacity:1
    }
}