
.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  }


.cardsWrapper{
    flex-direction: row;
    display: flex;
}


.cardList{
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none outside none;
    padding: 0;
}

.card{
    background-color: #fff;
    filter: drop-shadow(1px 5px 6px rgba(187, 187, 187, 0.8));
    padding: 150px 100px;
    border-radius: 30px;
    transition: all 0.25s ease-out;
}

.card:hover{
    background-color: #5aac44;
    transform:scale(1.1);
}