.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.textWrapper{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.formWrapper{
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: center;
}

.title{
    font-size: 55px;
    font-weight: 500;
    position: relative;
    color: #2c3e50;
    text-align: left;
    margin: 0px;
    padding-bottom: 10px;
}

.description{
    font-size: 20px;
    font-weight: 300;
    position: relative;
    color: #2c3e50;
    margin: 0;
    text-align: left;
}

.formContentWrapper{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input{
    border: none;
    border-bottom: 0.5px solid #2c3e50;
    margin: 20px 0px;
    background-color: transparent;
    font-size: 16px;
}


.input:focus{
    outline: none;
    border-bottom: 0.5px solid #0ba6ff;
}

.input:focus::placeholder {
    color: transparent;
  }

.show{
    transition: all 1.5s ease;
    font-size: 14px;
    margin-bottom: -15px;
    font-weight: bold;
    color: #2c3e50

}

.hide{
    display:none;
    transition: all 1.5s ease;
}

.submitButton {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    border: none;
    color: #fff;
    background: #5aac44;
    transition: all 0.25s ease;
    z-index: 9;
    font-size: 16px;
    font-weight: 500;
}
    
.submitButton:hover {
    box-shadow: 0 10px 20px -10px rgba(72, 138, 54, 0.8);
    transform: translateY(-5px);
    background: #5aac44;
}