
.addBtn{
  cursor:pointer;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: center;
  background-color: #5aac44;
  border: 1px solid #5aac44;
  border-radius: 12px;
  transition: all 0.25s ease;
  padding: 10px 30px;
}
  
  
.addBtn:hover{
  cursor:pointer;
  display: flex;
  width: 75px;
  align-items: center;
  justify-content: center;
  background-color: #5aac44;
  border: 1px solid #5aac44;
  border-radius: 12px;
  box-shadow: 0 10px 20px -10px rgba(72, 138, 54, 0.8);
  transform: translateY(-5px);
  background: #5aac44;
  padding: 10px 30px;
}

.addBtnIcon{
  color:#FFF;
}