.homeDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.homeDivider svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 100px;
}

.homeDivider .shapeFill {
    fill: #000;
}