p{
    color:#000
  }
  
  
.darkBG {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 10;

}
    
.centered {
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
    
.modal {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 600px;
    background: white;
    color: white;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    position: relative;
}
 
.modalHeader {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 22%;
    width: inherit;
}

.validationTextWrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.validationTextWrapper > p {
    color:#000;
    font-size: 12px;
}

.validationTextWrapper > p.normal {
    color:#000;
    margin: 0px;
    transition: all 0.25s;
}

.validationTextWrapper > p.invalid {
    color:#ff3e4e;
    margin: 0px;
    transition: all 0.25s;
}

.validationTextWrapper > p.valid {
    color:#217e0f;
    margin: 0px;
    transition: all 0.25s;
}

.validationInvalidlIcon{
    color:#ff3e4e;
    margin-right: 15px;
    width:16px;
    height: 16px;
    animation: scaleUpDown 0.5s;
    
}

.validationValidIcon{
    color:#217e0f;
    margin-right: 15px;
    width:16px;
    height: 16px;
    animation: scaleUpDown 0.5s

}


.validationTitle{
    color:#000;
    margin-top: 0px;
    margin-bottom: 10px;
}


.heading {
    margin: 0;
    padding: 0px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 34px;
    text-align: center;
}

.headingParagraph{
    font-size: 14px;
    color: rgb(125, 125, 125)
  }
    
.modalContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #2c3e50;
}
    
.inputForm{
    display: flex;
    flex-direction: column;
}
  
.formContentWrapper{
    display: flex;
    flex-direction: column;
}

.formContentWrapper input{
    border: none;
    border-bottom: 0.5px solid #d5d5d5;
    margin: 20px 0px;
  }
  
.formContentWrapper input:focus{
    outline: none;
    border-bottom: 0.5px solid #0ba6ff;
}

.formContentWrapper input:focus::placeholder {
    color: transparent;
  }
  
.modalActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}
    
.actionsContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
    
.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
    z-index: 6
}
    
.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}
    
.signupBtnActive {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #5aac44;
    transition: all 0.25s ease;
    z-index: 9;
}
    
.signupBtnActive:hover {
    box-shadow: 0 10px 20px -10px rgba(72, 138, 54, 0.8);
    transform: translateY(-5px);
    background: #5aac44;
}

.signupBtnInactive {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #CEE6C7;
}
    
    
.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
    z-index: 9;
}
    
.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}

.show{
    transition: all 1.5s ease;
    font-size: 14px;
    margin-bottom: -15px;
    font-weight: bold;
}

.hide{
    display:none;
    transition: all 1.5s ease;

}

.transparentIcon{
    margin-right: 15px;
    width:16px;
    height: 16px;
    visibility: hidden;
    transition: all 1.5s ease;
}

.mask {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    width: 110px;
    background-color: transparent;
    height: 40px;
    top: 79%;
    left: 54%;
}

.notSwing{
    animation: all 0s ease;
}


.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.scaleUpDown{
    -webkit-animation: scaleUpDown 1s ease;
    animation: scaleUpDown 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@-webkit-keyframes scaleUpDown
{
    15%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    50%
    {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
    80%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%
    {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleUpDown
{
    15%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    50%
    {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
    80%
    {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%
    {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

