.todoListWrapper{
    display: flex;
    justify-content: center;
  }
  
.inputFormWrapper{
  display: flex;
  justify-content: center;
}

.titleWrapper{
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.title{
  font-size: 32px;
  font-weight: 400;
}